In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
%matplotlib inline
pd.options.mode.chained_assignment = None  # default='warn'
from kmodes.kmodes import KModes

In [3]:
df=pd.read_csv("C:/Users/PC/Desktop/Tesis/Practicum4_SistemasInteligentes_UTPL/DataSet/Dataset.csv",nrows=10000,encoding="ISO-8859-1")

In [4]:
df.head()

,id,case_in_country,reporting date,location,country,gender,age,symptom_onset,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom
0,1,0,1/20/2020,Shenzhen Guangdong,China,male,66.0,1/3/20,1/11/20,12/29/2019,1/4/20,1,0,0,0,NaN
1,2,0,1/20/2020,Shanghai,China,female,56.0,1/15/2020,1/15/2020,NaN,1/12/20,0,1,0,0,NaN
2,3,0,1/21/2020,Zhejiang,China,male,46.0,1/4/20,1/17/2020,NaN,1/3/20,0,1,0,0,NaN
3,4,0,1/21/2020,Tianjin,China,female,60.0,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN
4,5,0,1/21/2020,Tianjin,China,male,58.0,NaN,1/14/2020,NaN,NaN,0,0,0,0,NaN

In [5]:
df.id.count()

1085

In [6]:
df.rename(columns={'reporting date': 'reporting_date', 'visiting Wuhan': 'visiting_Wuhan','from Wuhan': 'from_Wuhan'}, inplace=True)

In [7]:
#Transformar a fecha
df['reporting_date'] = pd.to_datetime(df['reporting_date'])

In [8]:
df['year'] = df['reporting_date'].dt.year
df['month'] = df['reporting_date'].dt.month
df['day'] = df['reporting_date'].dt.day
##
df['year'] = df['year'].fillna(0).astype(np.int64)
df['month'] = df['month'].fillna(0).astype(np.int64)
df['day'] = df['day'].fillna(0).astype(np.int64)

In [9]:
df.head()

,id,case_in_country,reporting_date,location,country,gender,age,symptom_onset,hosp_visit_date,exposure_start,exposure_end,visiting_Wuhan,from_Wuhan,death,recovered,symptom,year,month,day
0,1,0,2020-01-20,Shenzhen Guangdong,China,male,66.0,1/3/20,1/11/20,12/29/2019,1/4/20,1,0,0,0,NaN,2020,1,20
1,2,0,2020-01-20,Shanghai,China,female,56.0,1/15/2020,1/15/2020,NaN,1/12/20,0,1,0,0,NaN,2020,1,20
2,3,0,2020-01-21,Zhejiang,China,male,46.0,1/4/20,1/17/2020,NaN,1/3/20,0,1,0,0,NaN,2020,1,21
3,4,0,2020-01-21,Tianjin,China,female,60.0,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN,2020,1,21
4,5,0,2020-01-21,Tianjin,China,male,58.0,NaN,1/14/2020,NaN,NaN,0,0,0,0,NaN,2020,1,21

In [10]:
df.shape

(1085, 19)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1085 non-null   int64
 1   case_in_country  1085 non-null   int64
 2   reporting_date   1084 non-null   datetime64[ns]
 3   location         1085 non-null   object
 4   country          1085 non-null   object
 5   gender           902 non-null    object
 6   age              843 non-null    float64
 7   symptom_onset    563 non-null    object
 8   hosp_visit_date  507 non-null    object
 9   exposure_start   128 non-null    object
 10  exposure_end     341 non-null    object
 11  visiting_Wuhan   1085 non-null   int64
 12  from_Wuhan       1085 non-null   int64
 13  death            1085 non-null   int64
 14  recovered        1085 non-null   int64
 15  symptom          270 non-null    object
 16  year             1085 non-null   int64
 17  month            1085 non-null   int64
 18  day              1085 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(9), object(8)
memory usage: 161.2+ KB

In [12]:
#df['year'] = pd.DatetimeIndex(df['reporting_date']).year
df['year'] = df['reporting_date'].dt.year

In [13]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1085 non-null   int64
 1   case_in_country  1085 non-null   int64
 2   reporting_date   1084 non-null   datetime64[ns]
 3   location         1085 non-null   object
 4   country          1085 non-null   object
 5   gender           902 non-null    object
 6   age              843 non-null    float64
 7   symptom_onset    563 non-null    object
 8   hosp_visit_date  507 non-null    object
 9   exposure_start   128 non-null    object
 10  exposure_end     341 non-null    object
 11  visiting_Wuhan   1085 non-null   int64
 12  from_Wuhan       1085 non-null   int64
 13  death            1085 non-null   int64
 14  recovered        1085 non-null   int64
 15  symptom          270 non-null    object
 16  year             1084 non-null   float64
 17  month            1085 non-null   int64
 18  day              1085 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(8)
memory usage: 161.2+ KB

In [14]:
#df['year'] = df['year'].astype(np.int64)
df['year'] = df['year'].fillna(0).astype(np.int64)

In [15]:
df.head()
df.info()
df.id.count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1085 non-null   int64
 1   case_in_country  1085 non-null   int64
 2   reporting_date   1084 non-null   datetime64[ns]
 3   location         1085 non-null   object
 4   country          1085 non-null   object
 5   gender           902 non-null    object
 6   age              843 non-null    float64
 7   symptom_onset    563 non-null    object
 8   hosp_visit_date  507 non-null    object
 9   exposure_start   128 non-null    object
 10  exposure_end     341 non-null    object
 11  visiting_Wuhan   1085 non-null   int64
 12  from_Wuhan       1085 non-null   int64
 13  death            1085 non-null   int64
 14  recovered        1085 non-null   int64
 15  symptom          270 non-null    object
 16  year             1085 non-null   int64
 17  month            1085 non-null   int64
 18  day              1085 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(9), object(8)
memory usage: 161.2+ KB

1085

In [16]:
df.head()

,id,case_in_country,reporting_date,location,country,gender,age,symptom_onset,hosp_visit_date,exposure_start,exposure_end,visiting_Wuhan,from_Wuhan,death,recovered,symptom,year,month,day
0,1,0,2020-01-20,Shenzhen Guangdong,China,male,66.0,1/3/20,1/11/20,12/29/2019,1/4/20,1,0,0,0,NaN,2020,1,20
1,2,0,2020-01-20,Shanghai,China,female,56.0,1/15/2020,1/15/2020,NaN,1/12/20,0,1,0,0,NaN,2020,1,20
2,3,0,2020-01-21,Zhejiang,China,male,46.0,1/4/20,1/17/2020,NaN,1/3/20,0,1,0,0,NaN,2020,1,21
3,4,0,2020-01-21,Tianjin,China,female,60.0,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN,2020,1,21
4,5,0,2020-01-21,Tianjin,China,male,58.0,NaN,1/14/2020,NaN,NaN,0,0,0,0,NaN,2020,1,21

In [17]:
df1= df.drop(['symptom_onset','hosp_visit_date','exposure_start','exposure_end'],axis=1)

In [18]:
df2=df1.drop(['case_in_country','reporting_date','location'],axis=1)

In [19]:
df2.head()
df2.id.count()

1085

In [20]:
dfduplicate=df2.append(df2)

In [21]:
dfduplicate.id.count()

2170

In [22]:
dfduplicate=dfduplicate.sample(frac=1)

In [23]:
dflimpio=dfduplicate.drop_duplicates()

In [24]:
dflimpio.id.count()

1085

In [25]:

encoder = ce.BinaryEncoder(cols=['country'])
df_binary = encoder.fit_transform(dflimpio)

df_binary.head()

NameError: name 'ce' is not defined

In [26]:
#**Pepa
#dflimpio = pd.get_dummies(dflimpio, columns=['country'], prefix = ['country'])
#dflimpio.head()

#**muchas columnas
#lb = LabelBinarizer()
#lb_results = lb.fit_transform(dflimpio['country'])
#lb_results_df = pd.DataFrame(lb_results, columns=lb.classes_)
#lb_results_df.head()

In [26]:
#lb_results_df.Afghanistan.count()

In [27]:
#times.to_csv('C:/Users/PC/Desktop/Prueba/PruebasBlackFriday.csv')
df_binary.to_csv('C:/Users/PC/Desktop/Prueba/PruebasMiercoles.csv')

In [28]:
df_binary.describe()

,id,country_0,country_1,country_2,country_3,country_4,country_5,country_6,age,visiting_Wuhan,from_Wuhan,death,recovered,year,month,day
count,1085.000000,1085.0,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,843.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000
mean,543.000000,0.0,0.007373,0.142857,0.447926,0.251613,0.315207,0.631336,49.483689,0.176959,0.143779,0.058065,0.146544,2018.138249,1.682028,20.417512
std,313.356825,0.0,0.085590,0.350088,0.497510,0.434140,0.464813,0.482665,18.255334,0.381810,0.351027,0.233973,0.353814,61.324851,0.467879,7.566548
min,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,272.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.000000,0.000000,0.000000,0.000000,0.000000,2020.000000,1.000000,17.000000
50%,543.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,51.000000,0.000000,0.000000,0.000000,0.000000,2020.000000,2.000000,22.000000
75%,814.000000,0.0,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,64.000000,0.000000,0.000000,0.000000,0.000000,2020.000000,2.000000,26.000000
max,1085.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,96.000000,1.000000,1.000000,1.000000,1.000000,2020.000000,2.000000,31.000000

In [29]:
df_binary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1085 entries, 256 to 195
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1085 non-null   int64
 1   country_0       1085 non-null   int64
 2   country_1       1085 non-null   int64
 3   country_2       1085 non-null   int64
 4   country_3       1085 non-null   int64
 5   country_4       1085 non-null   int64
 6   country_5       1085 non-null   int64
 7   country_6       1085 non-null   int64
 8   gender          902 non-null    object
 9   age             843 non-null    float64
 10  visiting_Wuhan  1085 non-null   int64
 11  from_Wuhan      1085 non-null   int64
 12  death           1085 non-null   int64
 13  recovered       1085 non-null   int64
 14  symptom         270 non-null    object
 15  year            1085 non-null   int64
 16  month           1085 non-null   int64
 17  day             1085 non-null   int64
dtypes: float64(1), int64(15), object(2)
memory usage: 161.1+ KB

In [1]:
clustersDf = pd.DataFrame(fitClusters_cao)
clustersDf.columns = ['cluster_predicted']
combinedDf = pd.concat([bank_cust, clustersDf], axis = 1).reset_index()
combinedDf = combinedDf.drop(['index', 'level_0'], axis = 1)

NameError: name 'pd' is not defined